.user-icon-container {
    width: 8rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    text-align: right;
    z-index: 2;
}

.text-username {
    margin-right: 1rem;
}

.user-icon-profile-pic {
    cursor: pointer;
}
