@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$s:add-comment;

.#{$s}-container{
    @include flex-column;
    width: $safe-col-width;
    row-gap: 1rem;

    > input
    {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    >.#{$s}-main-text{
      width: 100%;
    }

    > .#{$s}-submit-button{
      height: 100%;
      width: auto;
      font-family: "Space Grotesk", sans-serif;
      font-size: 2rem;
      padding: 1rem 4rem;
      border-radius: 5rem;
      border-width: 0px;
      cursor: pointer;
      background-color: $rich-black;
      color: $baby-powder;
    }
    
    > .#{$s}-submit-button:hover{
        background-color: $jade;
    }
}

