@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$s:add-comment;

.#{$s}-container{
    @include flex-column;
    width: $safe-col-width;
    row-gap: 1rem;
    margin-bottom: 3rem;

    > input
    {
      width: 100%;
      margin-bottom: 0.5rem;
      font-family: 'Space Grotesk';
      font-size: 2rem;
    }

    >.#{$s}-main-text{
      width: 100%;
      font-size: 1.5rem;
    }

}

