.user-menu-container {
    position: fixed;
    top: 11%;
    right: 2%;
    width: 9%;
    background-color: var(--baby-powder);
    color: var(--rich-black);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px;
    z-index: 2;
}

.menu-item {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.menu-item:hover {
    background-color: var(--light-gray);
}

.menu-item a {
    text-decoration: none;
}

.menu-item a:hover {
    color: var(--rich-black);
}

.menu-item a:visited {
    color: var(--rich-black);
}

/* #menu-trails-text{

} */

#menu-account-text {
    margin-top: 1.5rem;
}
