@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$c: trail-page;

.#{$c}-full-width-container {
    @include flex-column(true, false);
    margin-top: 9rem;
    width: 100%;

    > .#{$c}-boxed-container {
        @include flex-column;
        width: $safe-col-width;

        > .#{$c}-split {
            @include flex-row;
            width: 100%;

            > .#{$c}-right {
                flex-grow: 1;
                height: 35rem;
            }

            > .#{$c}-left {
                width: 61.8%;
                flex-shrink: 0;
                font-size: 2rem;
                padding-right: 4rem;
                box-sizing: border-box;

                > .#{$c}-difficulty {
                    @include flex-row(false, true);
                    margin-top: 4rem;
                    box-sizing: border-box;
                    width: 100%;

                    > .#{$c}-difficulty-label {
                        margin-right: 4rem;
                        font-weight: 700;
                        flex-shrink: 0;
                    }

                    > .#{$c}-difficulty-meter-container {
                        flex-grow: 1;
                    }
                }

                > .#{$c}-description {
                    margin-top: 4rem;
                }

                > .#{$c}-basic-properties {
                    @include flex-row(false, true);

                    > .#{$c}-prop {
                        @include flex-row(false, true);

                        > .#{$c}-prop-label {
                            font-weight: 700;
                            margin-right: 2rem;
                        }

                        &:not(:last-child) {
                            margin-right: 1.68 * 2rem;
                        }
                    }
                }
            }
        }

        > .trail-header {
            @include flex-column;
            position: relative;
            width: 100%;
            height: 45rem;
            background-color: gray;
            border-radius: 1.5rem;
            margin-bottom: 4rem;

            > .trail-header-label {
                position: absolute;
                $padding: 4rem;
                left: $padding;
                bottom: $padding;
                font-size: 4rem;
                color: white;
                font-weight: 700;
            }
        }
    }
}
