:root {
 --rich-black: #011627;
 --baby-powder: #FdFFFC;
 --our-red: #E71D36;
 --orange-peel: #FF9F1C;
 --jade: #5DA271;
 --dark-jade: #446B4A;
}

.navbar{
height:10%;
background-color: var(--jade);
color: var(--baby-powder);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
/* its Moul in the figma, but I havent downloaded it yet*/
font-style: normal;
font-size: 3rem;
}

body{
font-weight: 400;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/* its Inter in the figma, but I havent downloaded it yet*/
}

input{
background-color: var(--baby-powder);
color: var(--rich-black);
opacity: 0.8;
border-radius: 50px;
}

input:placeholder-shown{
color: var(--our-red);
}

button{
  background-color: var(--jade);
  color: var(--baby-powder);
  border-radius: 50px;
  border-width: 0px;
}

button:hover
{
background-color: var(--dark-jade);
color: var(--rich-black);
}

img{
  border-radius: 25px;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
}

