@import "vars/color-palette";

button {
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 5rem;
    border-width: 0px;
    cursor: pointer;


    //Default
    &.button-default{
        background-color: $orange-peel;
        color: $baby-powder;
        border-radius: 5px;
    }
    &.button-default:hover{
        background-color: $jade;
    }

    //Search
    &.button-search{
        background-color: $rich-black;
        color: $baby-powder;
        border-radius: 5rem;
    }
    &.button-search:hover{
        background-color: $jade;
    }

    //Log in
    &.button-login{
        background-color: $rich-black;
        color: $baby-powder;
        padding: 1rem 2.5rem;
    }
    &.button-login:hover{
        background-color: $jade;
    }


    //Sign in
    &.button-signin{
        background-color: $baby-powder;
        color: $rich-black;
        padding: 1rem 2.5rem;
    }
    &.button-signin:hover{
        background-color: $light-gray;
        color: $rich-black;
    }


    //Danger
    &.button-danger{
        background-color: $our-red;
        color: $baby-powder;
        padding: 1rem 2.5rem;
    }
    &.button-danger:hover{
        background-color: $dark-red;
        color: $baby-powder;
    }

    //Loading
    >.button-loading-spinner{
        border: 5px solid $baby-powder;
        border-top: 5px solid $rich-black;
        border-radius: 50%;
        margin: auto;
        width: 2rem;
        height: 2rem;
        animation: spin 2s linear infinite;
    }
}

//Animations
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
