@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$c: footer;

.#{$c} {
    @include flex-row(true, true);
    width: 100%;
    height: $footer-height;
    background-color: $rich-black;
    color: $baby-powder;

    > .#{$c}-title {
        font-size: 4rem;
        margin-left: 5rem;
    }

    > .#{$c}-team-members {
        @include flex-column(false, true);
        font-size: 2rem;
        margin-left: 40%;

        > .#{$c}-team-member {
            margin-top: 10%;
        }
    }
}
