@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

#statistics-section{
    @include flex-column(true, true);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    > .background-half{
        position: absolute;
        top: 0;
        width: 100%;
        height: 50%;
        background-image: url("/img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg");
        background-size: cover;
    }
    > .statistics-board{
        @include flex-column(true, true);
        position: absolute;
        background-color: $orange-peel;
        width: 60%;
        height: 65%;
        border-radius: 3rem;
        >.statistics-entries{
            @include flex-row(true, true);
            margin: 2%;
            > .statistics-entry{
                @include flex-column(true, true);
                margin: 25% 25% 0 25%;
                width: 30%;
                height: 70%;
                > .statistics-image{
                    position: absolute;
                    top: 15%;
                    width: 8rem;
                    height: 8rem;
                }
                > .statistics-number{
                    font-size: 7rem;
                    color: $baby-powder;
                }
                > .statistics-unit{
                    margin-top: 20%;
                    font-size: 2.5rem;
                }
            }
        }
        > .text-next-could-be-yours{
            margin-top: 8%;
            font-size: 3.5rem;
        }
    }
}
