@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

.navbar {
    @include flex-row(true, true);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 2rem;
    z-index: 1;

    box-sizing: border-box;
    padding-top: 2rem;

    > .navbar-content {
        @include flex-row(false, true);
        justify-content: space-between;
        position: relative;

        width: $safe-col-width;

        > .navbar-logo {
            flex-shrink: 0;
            width: 10rem;
            height: 10rem;
        }

        > .navbar-title {
            @include unselectable;

            // We center the title manually because here we cannot rely on flex space-between.
            // The elements on the sides have different widths.
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $rich-black;
            font-weight: 700;
            font-size: 2.5rem;
            text-decoration: none;

            &:visited {
                color: $rich-black;
            }

            &:hover {
                color: $baby-powder;
            }
        }
    }
}

.signin-button {
    color: $rich-black;
    background-color: $baby-powder;
    cursor: pointer;
    flex-shrink: 0;
}

.signin-button:hover {
    color: $rich-black;
    background-color: $light-gray;
}
