@import "vars/color-palette";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: transparent;
    color: $baby-powder;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-style: normal;
    font-size: 2rem;
    padding: 1%;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    z-index: 2;
}

.navbar header {
    color: $baby-powder;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: $baby-powder;
}

.navbar a:visited {
    color: $baby-powder;
}

.signin-container {
    width: 10%;
    position: absolute;
    top: 1rem;
    right: 4rem;
    float: none;
    margin: auto;
}

.signin-button {
    color: $rich-black;
    background-color: $baby-powder;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
}

.signin-button:hover {
    color: $rich-black;
    background-color: $light-gray;
}

.navbar-logo {
    position: absolute;
    float: none;
    top: 1rem;
    left: 2rem;
}
