@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$c: featured-trail;

.#{$c} {
    max-width: 35rem;
    cursor: pointer;

    > .#{$c}-image {
        width: 35rem;
        height: 35rem;
        border-radius: 1rem;
    }
    > .#{$c}-location{
        margin-top: 2rem;
        font-size: 2rem;
    }
    > .#{$c}-name{
        font-size: 3rem;
    }
    > .#{$c}-details{
        @include flex-row(false, true);
        margin-top: 2rem;
        width: 100%;
        font-size: 2rem;
        > .#{$c}-detail{
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}
