.profile-page-container{
    display: flex;
    flex-direction: row;
}

.profile-info-container{
    width: 50%;
    height: 70%;
    margin: 10% 5% 10% 5%;
    display: flex;
    flex-direction: column;
}

.profile-pic-container {
    margin: 10% 0 10% 15%;
    cursor: pointer;
}

.profile-entry-container{
    width: 80%;
    height: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.profile-input{
    margin: 0.5rem 0rem 0.5rem 0rem;
    height: 50%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.profile-button-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding: 1rem 10% 0rem 10%;
}

.profile-button{
    height: 2rem;
    width: 30%;
    margin: 0rem 5% 0rem 5%;
}

#profile-delete-button{
    background-color: var(--our-red);
}

#profile-delete-button:hover{
    background-color: var(--our-red-dark);
}

.profile-text{
    color: var(--baby-powder);
}