$rich-black: #011627;
$baby-powder: #fdfffc;
$light-gray: #dcdcdc;
$our-red: #e71d36;
$dark-red: #900603;
$orange-peel: #ff9f1c;
$jade: #6DA075;
$figma-jade: #457d4a;
$dark-jade: #446b4a;
$grey: #616161;
