@import "include/typeface";
@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

html, body {
    @include flex-column;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    // To use REM, we have to specify a base font size on the root.
    // We make it easy for ourselves by using 10px as a reference size.
    // On a monitor >= 1080p, 1rem equates to 10px :)
    font-size: 10px;
}

// Phones.
@media (max-width: 767px) {
    html, body {
        font-size: 0.5208vw; // TODO: Select reasonable value! Probably something around 2vw?
    }
}

// Small screens and tablets.
@media (min-width: 768px) {
    html, body {
        font-size: 0.5208vw;
    }
}

// Desktop.
@media (min-width: 1920px) {
    html, body {
        font-size: 10px;
    }
}

.scroll-fade-in {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
    transition: opacity 1s, transform 1s;
}

.scroll-fade-in-shown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
