:root {
  --rich-black: #011627;
  --baby-powder: #fdfffc;
  --light-gray: #dcdcdc;
  --our-red: #e71d36;
  --orange-peel: #ff9f1c;
  --jade: #6DA075;
  --dark-jade: #446b4a;
  --grey:#616161;

  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Black.ttf'),
    url('/fonts/Poppins/Poppins-BlackItalic.ttf'),
    url('/fonts/Poppins/Poppins-Bold.ttf'),
    url('/fonts/Poppins/Poppins-BoldItalic.ttf'),
    url('/fonts/Poppins/Poppins-ExtraBold.ttf'),
    url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf'),
    url('/fonts/Poppins/Poppins-ExtraLight.ttf'),
    url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf'),
    url('/fonts/Poppins/Poppins-Italic.ttf'),
    url('/fonts/Poppins/Poppins-Light.ttf'),
    url('/fonts/Poppins/Poppins-LightItalic.ttf'),
    url('/fonts/Poppins/Poppins-Medium.ttf'),
    url('/fonts/Poppins/Poppins-MediumItalic.ttf'),
    url('/fonts/Poppins/Poppins-Regular.ttf'),
    url('/fonts/Poppins/Poppins-SemiBold.ttf'),
    url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf'),
    url('/fonts/Poppins/Poppins-Thin.ttf'),
    url('/fonts/Poppins/Poppins-ThinItalic.ttf');
  }
}

.navbar {
  height: 10%;
  background-color: var(--jade);
  color: var(--baby-powder);
  font-family: 'Poppins';
  font-style: normal;
  width: 98%;
  font-size: 2rem;
  padding: 1%;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
  z-index: 1;
}

body {
  font-weight: 400;
  font-family: 'Space Grotesk';
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.search-bar{
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  background-color: var(--baby-powder);
  color: var(--grey);
  opacity: 1;
  border-radius: 59px;
  border: 3px solid var(--grey);
  margin-right: 1%;
}

button {
  background-color: var(--jade);
  color: var(--baby-powder);
  border-radius: 50px;
  border-width: 0px;
  width: 5rem;
  height: 2rem;
}

button:hover {
  background-color: var(--dark-jade);
  color: var(--rich-black);
}

.trail-list-container {
  border-radius: 50px;
  background: var(--baby-powder);
  box-shadow: 0px 4px 40px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-top: 0px;
  align-content: center;
  row-gap: 1%;
  opacity: 0.8;
  min-height: 75%;
  margin: 7%;
  margin-top: 2%;
}

.trail-container {
  border-radius: 50px;
  opacity: 0.9;
  background: var(--Baby-Powder);
  box-shadow: 0px 4px 40px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 2%;
  width: 80%;
  align-content: center;
  row-gap: 1%;
}

.trail-list-heading{
  display: flex;
  flex-direction: row;
  padding: 1%;
  column-gap: 2%;
  color: var(--rich-black);
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.15;
  background: var(--rich-black, #051626);
}

.trail-text{
  color: var(--rich-black);
  opacity: 1;
  font-style: normal;
  font-weight: 400; 
  width: 66%;
}

.trail-img {
  border-radius: 25px;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: 25%;
  display: flex;
  flex-direction: column;
}