@import "vars/color-palette";

main {
    background-image: url('../../public/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.search-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

input {
    opacity: 0.8;
    border-radius: 20px;
    border-width: 1px;
    font-weight: 10;
}


#search-home {
    padding: 1rem 2%;
    width: 100%;
    height: 0.8rem;
    font-size: 1.5rem;
    font-style: italic;
    background-color: $baby-powder;
    color: $rich-black;
    opacity: 1;
}

#home-search-bar {
}

main {
    background-image: url(../../public/touch-grass-background.jpg);
    position: fixed;
    display: flex;
    flex-direction: column;
    mix-blend-mode: hard-light;
    width: 100%;
    height: 100%;
}

.home-command {
    font-size: 4rem;
    text-align: center;
    width: 70%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: $baby-powder;
    margin: 20% auto 2%;
    font-weight: 800;
}

.home-link {
    color: $rich-black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-style: normal;
    text-decoration: none;
}

.home-link:hover {
    color: $jade;
}

.home-search-button {
    background: $rich-black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.67);
    color: $baby-powder;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    width: 5.5rem;
    height: auto;
}

.home-search-button:hover {
    color: $baby-powder;
    background-color: $jade;
}

.home-container {
    display: flex;
    flex-direction: row;
    margin: 0 10% 10%;
    align-items: center;
    justify-content: center;
    height: 10%;
}

#home-search-bar {
    width: 50%;
    margin-top: unset;
}

.home-command-bottom {
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.83);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}
