@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

.navbar {
    @include flex-row(true, true);
    width: 100%;

    font-size: 2rem;
    z-index: 1;

    box-sizing: border-box;
    padding-top: $navbar-spacing;

    &.fixed {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .navbar-content {
        @include flex-row(false, true);
        justify-content: space-between;
        position: relative;

        width: $safe-col-width;

        > .navbar-logo, .navbar-logo > img {
            flex-shrink: 0;
            width: $navbar-height;
            height: $navbar-height;
        }

        > .navbar-title {
            @include unselectable;

            // We center the title manually because here we cannot rely on flex space-between.
            // The elements on the sides have different widths.
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $rich-black;
            font-weight: 700;
            font-size: 2.5rem;
            text-decoration: none;

            a:visited {
                color: $rich-black;
            }

            a:hover {
                color: $baby-powder;
            }
        }

    button{
        margin-left: 2rem;
    }
}

    .signin-container{
        visibility: visible;
    }
}
