@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$t: trail;
.#{$t}-container {
  display: inline;
  margin-top: 5rem;
  width: inherit;
}

.#{$t}-image-text-placement{
  @include flex-row;
}

.#{$t}-heart
{
  align-self: flex-end;
  justify-self: right;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  background-color: $baby-powder;
  color: $our-red;
}

.#{$t}-heart > img
{
  height: 4rem;
  width: 4rem;
}

.#{$t}-text {
  display: flex;
  width: 80rem;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: left;
  align-items: left;
  text-align: left;
  align-self: right;
}

.#{$t}-text h2 {
  color: $rich-black;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5rem;
}

.#{$t}-image {
  width: inherit;
  height: inherit;
}

.#{$t}-image-container{
  width: 35rem;
  height: 50rem;
  display: grid;
  place-content: center;
  margin: 5rem;
  background-color: $jade;
  border-radius: 10px;
}

.#{$t}-image-container > *{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.#{$t}-description {
  color: $rich-black;
  font-family: 'Space Grotesk';
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.#{$t}-extras{
  @include flex-row;
  font-size: 2rem;
  justify-content: left;
  column-gap: 20rem;

}

.#{$t}-difficulty{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.#{$t}-difficulty-container{
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: left;
  align-items: center;
}

.#{$t}-difficulty-container > *{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.#{$t}-difficulty-meter {
  width: 43rem;
  height: 2.7rem;
  flex-shrink: 0;
  border-radius: 46px;
  background: linear-gradient(90deg, #6DA075 0%, #F1A241 52.08%, #D4373E 100%);
  z-index: 1;
}

.#{$t}-difficulty-white{
  width: 42rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 46px;
  background-color: $baby-powder;
  z-index: 2;
  margin: 0.4rem;
}
