@import "vars/color-palette";

.process-form{
    width: 100%;
}

.process-form h2{
    text-align: center;
    font-size: 4rem;
}

.process-form form{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    padding: 2rem 10rem 3rem 10rem;
    width: 50vw;
    background-color: $baby-powder;
    border-radius: 5px;
}

.process-form form label{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.process-form form label::after{
    content:' *';
    color: $our-red;
}

.process-form form input{
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 5px;
    border: 1px solid $dark-jade;
}

.process-form form input:last-of-type{
    margin-bottom: 3rem;
}

.process-form form input:focus{
    border: 1px solid $jade;
    outline: none;
}

.process-form form button{
    width: 35rem;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.process-form button{
    background-color: $orange-peel;
}

.process-form button:hover{
    color: $baby-powder;
    filter: brightness(95%);
}

.form-error-string.hidden{
    display: none;
}

.form-error-string{
    display:block;
    font-size: 1.8rem;
    font-weight: bold;
    color: $our-red;
}
