@import "vars/color-palette";
@import "vars/mixins";
@import "vars/sizes";

$c: search-page;

.#{$c}-form-field {
    @include flex-row(false, true);
    width: 35rem;
    height: 5rem;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 1.5rem;
    border-radius: 59px;
    border: 1px solid #606060;
    background: #fff;
    overflow: hidden;

    margin-right: 2rem;

    > svg {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    > .#{$c}-input {
        outline: none;
        font-size: 2rem;
        height: 100%;
        flex-grow: 1;
        border: none;
        font-family: "Space Grotesk", sans-serif;
    }
}
